.divider {
  height: 40vw;
  margin-bottom: 4vh;
  margin-top: 4vh;
  background-position: top center;

  @media (min-width: $screen-sm-min) {
    height: 25vw;
  }


  &-band {
    background-image: url("/images/TrennerBand.jpg");
  }

  &-gigs {
    background-image: url("/images/TrennerGigs.jpg");
  }

  &-music {
    background-image: url("/images/TrennerMusik.jpg");
  }

  &-end {
    background-image: url("/images/TrennerSchluss.jpg");
  }
}
