.gigs {

  &-entry {
    &:not(:last-child) {
      margin-bottom: 4vh;
    }

    .line {
      &-highlight {
        background-color: red;
        color: #FFFFFF;
        text-align: center;

        padding: 10px 0;
      }
      &-black {
        background-color: black;
        color: #FFFFFF;
      }

      &-normal {
        font-size: 1em;
        min-height: 25px;
      }

      &-big {
        font-size: 3em;
        line-height: 1em;
        font-weight: bold;
        height: 55px;
      }

      &-image {
        line-height: 4em;
        height: 80px;

        img {
          height: 100%;
        }
      }

      &-info {
        height: 45px;

        &:after {
          content: " ";
          clear: both;
          display: block;
        }
      }
    }

    @media(min-width: $screen-sm-min) {
      .line {
        &-highlight {
          padding: 0;
        }

        &-info {
          height: 25px;
        }
      }
    }

  }
}
