nav {
  background-color: #000000;
  height: 10vh;
  text-align: center;

  ul {
    @include normalizeBoxSize();
    list-style: none;

    li {
      @include normalizeBoxSize();
      display: inline-block;
      //width: 20vw;

      &:not(:last-child) {
        margin-right: 2.7vw;
      }

      a {
        text-decoration: none;
        color: #BBBBBB;
        font-size: 5.5vh;
        display: block;
        padding-top: 1vh;
        padding-bottom: 1vh;
        transition: all .2s ease-in-out;

        &:hover, &:focus {
          color: #F44336;
        }
      }
    }
  }
}
