.news {

  &-article {
    color: $color-primary-font;
    background-color: $color-primary-light;
    padding: 10px;
    transition: all .3s ease-in-out;

    margin-bottom: $margin-default;
    
    p {
      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    a {
      &:hover, &:focus, &:active {
        color: $color-primary-font;
      }
    }

    &:hover {
      background-color: $color-highlight;
    }
  }
}
